{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

    <div style="text-align:center;">
        <div style="text-align: center">
            <h3 class="letter_logo mb-3">Login</h3>
        </div>
        <div style="text-align:center; max-width:60rem; margin:4rem auto">
            <Form action="{% url 'accountapp:update' pk=user.pk %}" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" class="btn btn-dark rounded-pill col-6 mt-3">
            </Form>
        </div>
    </div>

{% endblock %}