{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

    <div style="text-align:center;">
        <div>
            <h3>Create Project</h3>
        </div>
        <div style="text-align:center; max-width:60rem; margin:4rem auto">
            <Form action="{% url 'projectapp:create' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" class="btn btn-dark rounded-pill col-6 mt-3">
            </Form>
        </div>
    </div>

{% endblock %}