{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

    <div style="text-align:center;">
        <div>
            <h3>Create Article</h3>
        </div>
        <div style="text-align:center; max-width:60rem; margin:4rem auto">
            <Form action="{% url 'articleapp:create' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" class="btn btn-dark rounded-pill col-4 mt-3">
            </Form>
        </div>
    </div>

<script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
<script>var editor = new MediumEditor('.editable');</script>

{% endblock %}